version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    # Expose the API port
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data:rw
      - ./results:/results:rw
      - .:/app
    # START THE API SERVER by default
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
